body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.header {
    background-color: #260C83;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1781px;
    margin: auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 167px;
}

.nav a {
    color: aliceblue;
    text-decoration: none;
    /* padding: 0 167px ; */

}

.text-judo h1 {
    font-size: 24px;
    padding: 0 70px;
}

.text-judo h2 {
    font-size: 69px;
    color: #260C83;


}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    min-height: 100vh;
    background-image: url(img/image\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

}



.text-judo h3 {
    font-size: 24px;
}

.text-judo h4 {
    font-size: 24px;
}

.button a {
    text-decoration: none;
}

.button {
    background-color: #A54B4B;
    padding: 6px 14px;
    display: inline-block;
}

.judo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 130px;
    margin: 5px;
}

.wins-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wins-title h3 {
    font-size: 84px;
    text-align: center;

}

.Winner-big-cup {
    /* padding: 39px 41px; */
    display: flex;
    justify-content: space-between;
}

.Wins-img {
    width: 38%;
}

.Wins-img-1 {
    width: 58%;
}

.Winner-small-cup {
    /* padding: 81px 102px; */
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.Winner-small-cup img {
    width: 30%;
    height: auto;
}

.Wins-img-2 {
    width: 40%;
    height: 537px;
}

.Wins-img-3 {
    width: 50%;
    height: 537px;
}

.text {
    width: 368px;
    border-top: solid 3px #1A00FF;
}

.text h3 {
    font-size: 48px;
    padding: 69px 78px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.Times {
    max-width: 528px;
    border-left: solid 3px #1A00FF;
}

.Times h4 {
    font-size: 36px;
    padding: 39px;
}

.Cups h1 {
    font-size: 52px;
    /* padding: 0 270px; */
    margin-top: 20px;
}

.Cups h2 {
    font-size: 64px;
    text-align: center;
}

.Vikipedia h2 {
    font-size: 64px;
    text-align: center;
}

.Vikipedia h3 {
    font-size: 52px;  
    margin-top: 20px;  
}
.line{
    border-top:solid 3px #1A00FF ;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media(max-width:1781px) {
    .nav {
        gap: 100px;
    }
}

@media(max-width:1006px) {
    .nav {
        gap: 30px;
    }

    .flex-row {
        flex-direction: column;
    }

    .Ippon img {
        width: 250px;
    }
    .text{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .title {
        min-height: 60vh;
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 600px){
    
.image-judo-2{
    width: 60%;
}
.image-judo-2 img{
    width: 100%;
}
.Cups h1 {
    font-size: 22px;
}
}
@media(max-width:400px){
  .Vikipedia h3{
    font-size: 34px;
  }
   .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 
   .nav{
     display: flex;
     flex-direction: column;
   }
   .flex-row{
    display: flex;
    align-items: center;
   }
   .wins-title h3{
    font-size: 30px;
   }
   .text-judo h2{
    text-align: center;
   }
   .text-judo h4{
    font-size: 16px;
   }
   .text-judo h3{
    font-size: 16px;
   }
       
} 
 